body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: whitesmoke;
}

.total {
    margin-top: 10%;
    margin-bottom: 50%;
    display: flex;
    justify-content: space-around;
}

.vermelho, .azul, .amarelo, .roxo, .laranja, .cinza, .reset {
    text-align: center;
    align-items: center;
    width: auto;
    height: auto;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

.vermelho {
    border-color: red;
}

.azul {
    border-color: blue;
}

.amarelo {
    border-color: yellow;
}

.roxo {
    border-color: blueviolet;
}

.laranja  {
    border-color: orange;
}

.cinza {
    border-color: grey;
}

.reset {
    border-color: rgb(17, 138, 33);
}
